In [ ]:
# Importing the required packages
import collections
from collections import Counter  
import pandas as pd

Load the data

In [ ]:
# Test data
df_X_test = pd.read_csv("/content/X_test.csv")
df_X_test = df_X_test["Concate"].str.split()

# Expert classified data
df_y_test = pd.read_csv("/content/y_test.csv")
df_y_test = df_y_test["Class"]

# Random Forest predicted
df_y_pred_rf = pd.read_csv("/content/y_pred_rf.csv")
df_y_pred_rf = df_y_pred_rf["y_pred"]

# Logistic Regression predicted
df_y_pred_lr = pd.read_csv("/content/y_pred_lr.csv")
df_y_pred_lr = df_y_pred_lr["y_pred"]

# Gradient Boost predicted
df_y_pred_gb = pd.read_csv("/content/y_pred_gb.csv")
df_y_pred_gb = df_y_pred_gb["y_pred"]

out = ["extract", "inline","move","pull up","push down", "rename"]

In [ ]:
# Funtion Definition for calculating the frequency of each word's occurence
def featureCount(y):
  ''' 
  Function created to calculate the frequency of occurence of words.

  @param y: Feature for which the frequency needs to be calculated.
  @type y: DataFrame

  @return: None
  '''
  count = []
  for i in range(len(out)):
    concat = []
    for j in range(len(y)):
      if(y.iloc[j] == out[i]):
        concat = concat + df_X_test.iloc[j]
    count.append(pd.DataFrame(Counter(concat).most_common(), columns=[out[i],"Count"]))

  for u in count:
    print(u)

Expert classified data

In [ ]:
# Feature Count for output test dataframe
featureCount(df_y_test)

     extract  Count
0      added     75
1        add     52
2     method     39
3       http     27
4         id     27
...      ...    ...
1212    hash      1
1213   nrepl      1
1214   input      1
1215    area      1
1216   enter      1

[1217 rows x 2 columns]
           inline  Count
0           added     44
1          method     42
2            code     38
3          change     37
4           class     29
...           ...    ...
1569         date      1
1570          jdk      1
1571   sqlbasedao      1
1572  preliminary      1
1573          law      1

[1574 rows x 2 columns]
                move  Count
0               line    102
1                maj     94
2              added     91
3              moved     76
4             method     72
...              ...    ...
1317            mock      1
1318          device      1
1319  mockconnection      1
1320         belongs      1
1321       miscutils      1

[1322 rows x 2 columns]
            pull up  Count
0              http     41
1             class     39
2              test     36
3             added     35
4       refactoring     32
..              ...    ...
975            need      1
976         tidying      1
977            next      1
978         rewrite      1
979  simplification      1

[980 rows x 2 columns]
       push down  Count
0          added     53
1          class     39
2           test     37
3         change     25
4            fix     24
...          ...    ...
1227      mocdtw      1
1228  subsequent      1
1229     wrapper      1
1230         cli      1
1231         trx      1

[1232 rows x 2 columns]
         rename  Count
0       renamed    114
1        rename     86
2        method     56
3         added     29
4            id     22
...         ...    ...
1051  tokenizer      1
1052    complex      1
1053       math      1
1054      ficed      1
1055      order      1

[1056 rows x 2 columns]

Random Forest predicted

In [ ]:
# Frequency of words for Random Forest predicted data
featureCount(df_y_pred_rf)

Empty DataFrame
Columns: [extract, Count]
Index: []
Empty DataFrame
Columns: [inline, Count]
Index: []
                       move  Count
0                     added    308
1                    method    241
2                     class    187
3                      test    166
4                      http    163
...                     ...    ...
3982  exmltometadatahandler      1
3983                    ext      1
3984      exmltojsonhandler      1
3985             exhaustive      1
3986                  souts      1

[3987 rows x 2 columns]
         pull up  Count
0        renamed     49
1         rename     34
2    refactoring     22
3          added     19
4         method     16
..           ...    ...
860         math      1
861        ficed      1
862        order      1
863     operator      1
864     argument      1

[865 rows x 2 columns]
Empty DataFrame
Columns: [push down, Count]
Index: []
Empty DataFrame
Columns: [rename, Count]
Index: []

Logistic Regression predicted

In [ ]:
# Frequency of words for Logistic Regression predicted data
featureCount(df_y_pred_lr)

      extract  Count
0       added     29
1       class     24
2      method     24
3        http     20
4       moved     19
..        ...    ...
943   complex      1
944      math      1
945     ficed      1
946  operator      1
947  argument      1

[948 rows x 2 columns]
           inline  Count
0            line     52
1             maj     47
2           added     36
3          method     34
4          branch     26
...           ...    ...
1035   sqlbasedao      1
1036  preliminary      1
1037          law      1
1038    processor      1
1039       import      1

[1040 rows x 2 columns]
                move  Count
0              added    107
1             method     98
2              class     75
3               http     73
4               test     70
...              ...    ...
2332           souts      1
2333           depot      1
2334  authentication      1
2335            xsrf      1
2336         tidying      1

[2337 rows x 2 columns]
                           pull up  Count
0                            added    102
1                           method     66
2                             line     55
3                            class     50
4                              maj     47
...                            ...    ...
1437  getconfigurationserviceindio      1
1438               getdefectsindio      1
1439                getstreamindio      1
1440                  matchesindio      1
1441                       rewrite      1

[1442 rows x 2 columns]
    push down  Count
0       added     37
1      method     23
2        test     23
3        http     23
4     renamed     16
..        ...    ...
887   addtile      1
888    usable      1
889     tweak      1
890      edit      1
891  bugfixes      1

[892 rows x 2 columns]
                            rename  Count
0                            added     16
1                             http     15
2                            class     15
3                             test     12
4                            moved     12
..                             ...    ...
671                 repackagertest      1
672                         inline      1
673  finishandinjectsingularmethod      1
674         generatesingularmethod      1
675                       treenode      1

[676 rows x 2 columns]

Gradient Boost predicted

In [ ]:
# Frequency of words for Gradient Boost predicted data
featureCount(df_y_pred_gb)

      extract  Count
0       added     22
1       class     20
2      method     20
3        http     12
4        file     11
..        ...    ...
657      math      1
658     ficed      1
659     order      1
660  operator      1
661  argument      1

[662 rows x 2 columns]
           inline  Count
0          method     19
1            test     12
2           class     11
3          rename     10
4             gwt      9
..            ...    ...
551        reduce      1
552        number      1
553  stringfilter      1
554      abstract      1
555    textfilter      1

[556 rows x 2 columns]
           move  Count
0         added     16
1         fixed     15
2        method     14
3          http     14
4       renamed     13
..          ...    ...
630     belongs      1
631        wcet      1
632     utility      1
633   miscutils      1
634  generation      1

[635 rows x 2 columns]
            pull up  Count
0               dvd     23
1         placement     22
2           episode     19
3             class     17
4             added     15
..              ...    ...
618    matchesindio      1
619           major      1
620         rewrite      1
621  simplification      1
622     duplication      1

[623 rows x 2 columns]
                  push down  Count
0                     added    255
1                    method    190
2                     class    130
3                      test    126
4                      http    118
...                     ...    ...
3465  exmltometadatahandler      1
3466                    ext      1
3467      exmltojsonhandler      1
3468             exhaustive      1
3469                  souts      1

[3470 rows x 2 columns]
                      rename  Count
0                      added     11
1                       http      9
2                      class      9
3                refactoring      7
4                        git      6
..                       ...    ...
321  abstracttemplatebuilder      1
322                  extract      1
323                 function      1
324                 possible      1
325                 treenode      1

[326 rows x 2 columns]